<%- include('header'); -%>

    <h1><%= title %></h1>

    <p>View and manage your files and folders.</p>

    <% if (locals.folder) { %>
        <h2><%= folder.name %></h2>
        <form action="/files/<%= folder.id %>/edit-folder" method="post">
            <label for="renamedFolder">Rename folder</label>
            <input type="text" name="renamedFolder" id="renamedFolder" value="<%= folder.name %>">
            <input type="submit" value="Rename">
        </form>
        <form action="/files/<%= folder.id %>/delete-folder" method="post">
            <input type="submit" value="Delete Folder">
        </form>
    <% } %>

    <% if (locals.folders) { %>
        <ul id="folders">
            <% folders.forEach(folder => { %>
                <li><a href="/files/<%= folder.id %>"><%= folder.name %></a></li>
            <% }) %>
        </ul>
    <% } %>

    <% if (locals.files) { %>
        <ul id="files">
            <% files.forEach(file => { %>
                <li><a href="/files/<%= folder.id %>/<%= file.id %>"><%= files.name %></a></li>
            <% }) %>
        </ul>
    <% } %>

    <% if (locals.folder) { %>
        <form action="/files/upload-file" method="post" enctype="multipart/form-data">
            <input type="text" name="folder" id="folder" value="<%= folder.id %>" style="display: none;">
            <label for="file">Upload a file</label>
            <input type="file" name="file" id="file">
            <input type="submit" value="Upload">
        </form>
    <% } %>

    <form action="/files/create-folder" method="post">
        <% if (locals.folder) { %>
            <input type="text" name="folder" id="folder" value="<%= locals.folder.id %>" style="display: none;">
        <% } else { %>
            <input type="text" name="folder" id="folder" style="display: none;">
        <% } %>
        <label for="newFolder">Create a folder</label>
        <input type="text" name="newFolder" id="newFolder" value="new-folder">
        <input type="submit" value="Create">
    </form>

    <p>Return <a href="/">home</a>.</p>
    
<%- include('footer'); -%>